# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# =========================
# ML Models
# =========================
*.pt
*.pth
*.ckpt
openrepo_backend/ml_training/saved_models/

# =========================
# Node
# =========================
node_modules/
dist/
build/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db